/*Fonts
-------
*/

:root {
    --color-background: linear-gradient(294deg, #000 -5.56%, #100000 11.42%, #870303 138.13%, #4B0202 138.13%);
    --color-gold-gradient: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

@font-face {
    font-family: "head";
    src: url("./inhalt/Fonts/Headlines-BoldItalic.otf");
}

@font-face {
    font-family: "text";
    src: url("./inhalt/Fonts/OldNewspaperTypes.ttf");
}

/*Allgemein
-----------
*/

body {
    background: var(--color-background);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

h1 {
    user-select: none;
    font-family: head;
    font-size: 64px;
    background: var(--color-gold-gradient);
    width: 350px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #540202;
    transition: all 0.5s ease-in-out;
    background-size: 200%;
}

h1:hover {
    background-position-x: -300px;
}

/*Navigation
------------
*/

#back {
    position: absolute;
    right: 5%;
    top: 9%;
    user-select: none;
    font-family: head;
    background: var(--color-gold-gradient);
    width: 230px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: all 0.5s ease-in-out;
    background-size: 200%;
}

#back:hover {
    background-position-x: -230px;
}

#back>a {
    font-size: 32px;
    color: #540202;
}

#navigation>a {
    margin-left: auto;
    margin-right: auto;
}

.navItem {
    display: block;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.navBoxLeft {
    border-radius: 37px;
    border: 1px solid #C89999;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.89) 48.84%, rgba(119, 37, 37, 0.64) 104.14%);
    box-shadow: 14px 14px 4px 0px rgba(82, 33, 33, 0.41);
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    height: 258px;
    margin-bottom: 50px;
}

.navBoxLeft>p {
    opacity: 0;
    margin-top: -100px;
    margin-left: 60px;
    text-decoration: none;
    color: white;
    font-size: larger;
    font-family: text;
    transition: all 0.5s ease-in-out;
    width: 300px;
}

.navBoxRight>p {
    opacity: 0;
    margin-top: -100px;
    margin-left: 540px;
    text-decoration: none;
    color: white;
    font-size: larger;
    font-family: text;
    transition: all 0.5s ease-in-out;
    width: 300px;
    text-align: right;
}


.ueberschrift {
    margin-top: 0px;
    transition: all 0.5s ease-in-out;
}

.navBoxLeft:hover .info {
    opacity: 1;
}

.navBoxRight:hover .info {
    opacity: 1;
}

.navBoxLeft:hover .ueberschrift {
    transform: translateY(-50px);
}

.navBoxRight:hover .ueberschrift {
    transform: translateY(-50px);
}

.navBoxRight>h2 {
    position: relative;
    left: -250px;
}

.navBoxLeft>img {
    width: 375px;
    position: relative;
    right: -23%;
}

.navBoxRight {
    border-radius: 37px;
    border: 1px solid #C89999;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.89) 51.17%, rgba(119, 37, 37, 0.64) 100%);
    box-shadow: -14px 14px 4px 0px rgba(82, 33, 33, 0.41);
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    height: 258px;
    margin-bottom: 50px;
}

.navBoxRight>img {
    width: 375px;
    position: relative;
    right: -10%;
}


#helmet {
    width: 375px;
    height: 258px;
    position: relative;
    right: -11%;
}

#lego_marvel_sh_logo {
    position: relative;
    bottom: -60px;
    left: 0px;
}

#thinking_img {
    height: 258px;
    position: relative;
    right: 0%;
    border-radius: 37px;
}

#idel_gif {
    transform: rotateY(180deg);
    position: relative;
    right: -20%;
    width: 300px;
    height: 258px;
}

.ueberschrift {
    font-family: head;
    font-size: 64px;
    background: var(--color-gold-gradient);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: 300px;
    border-radius: 15px;
    text-align: center;
    margin: auto;
    margin-left: 30px;
}

/*Allgemein-Unterseite
----------------------
*/

/*Armor Locker*/

#armors {
    margin-left: auto;
    margin-right: auto;
    width: 53.5%;
}

#armors>h2 {
    text-align: center;
    font-family: head;
    font-size: 50px;
    background: var(--color-gold-gradient);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: 300px;
    border-radius: 15px;
    margin: auto;
}

#locker {
    width: 100%;
}

#shownArmor {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 89%;
    top: 16%;
    left: 5.5%;
}

.armor {
    z-index: 1;
}

#shownArmor>div>img {
    cursor: pointer;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

#shownArmor>div>img:hover {
    scale: 1.05;
}

#changeArmors {
    display: grid;
    grid-template-columns: auto auto;
    position: absolute;
    top: 45%;
    left: 14%;
    width: 70%;
    z-index: 0;
}

#changeArmors>div {
    width: 27%;
}

#changeArmors>div>img {
    width: 92%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

#changeArmors>div>img:hover {
    scale: 1.2;
}

#imgLeft {
    rotate: 180deg;
}

#changeRight {
    position: relative;
    right: -80%;
}

#infoSuits {
    position: fixed;
    top: 35px;
    left: 28.7%;
    width: 650px;
    z-index: 2;
}

#suitName>h2 {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    font-family: head;
    font-size: 50px;
    background: var(--color-gold-gradient);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    border-radius: 15px;
    margin: auto;
}

#suitInfo {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 51.17%, rgba(119, 37, 37, 0.9) 100%);
    border-radius: 5px;
}

#infoImg>div>div>h2 {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    font-family: head;
    font-size: 30px;
    background: var(--color-gold-gradient);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    border-radius: 15px;
    margin: auto;
}

#infoImg>div>img {
    height: 560px;
}

#infoImg>div>div>ul>li>p {
    padding-left: 10px;
    padding-right: 10px;
    font-family: text;
    color: white;
}

#infoImg>div>div>ul>li {
    color: white;
}

#infoImg {
    display: grid;
    grid-template-columns: auto auto;
}

#closeSuitInfo {
    color: white;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    font-family: text;
    background: var(--color-background);
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    border: white 1px solid;
    transition: all 0.3s ease-in-out;
}

#closeSuitInfo:hover {
    scale: 1.15;
}



/*Tony Stark Steckbrief*/

#steckbrief {
    margin-top: 80px;
    height: 50%;
    margin-bottom: 11%;
}

#steckbrief>img {
    width: 70%;
    position: absolute;
    left: 15%;
    top: 17%;
    opacity: 0.7;
    border-radius: 15px;
    z-index: -1;
}

#steckbrief>div>h2 {
    text-align: center;
    font-family: head;
    font-size: 50px;
    background: var(--color-gold-gradient);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: 300px;
    border-radius: 15px;
    margin: auto;
    z-index: 1;
}

#steckbriefInfo {
    padding-top: 7.5%;
    padding-left: 300px;
    padding-right: 300px;
    text-align: left;
}

#steckbriefInfo>h2 {
    font-family: head;
    font-size: 40px;
    background: var(--color-background);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: auto;
}

#steckbriefInfo>ul>li {
    color: rgb(249, 212, 212);
    font-family: text;
}


/*Minigame-Unterseite
---------------------
*/

#körper {
    overflow: hidden;
    height: 100vh;
}

#gameNavigation {
    display: grid;
    grid-template-rows: auto auto;
    text-align: center;
    font-family: head;
    font-size: 50px;
    background: var(--color-gold-gradient);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: 300px;
    border-radius: 15px;
    margin: auto;
    cursor: pointer;
    margin-top: 10%;
    z-index: 1;
}

#gameNavigation>div {
    transition: all 0.5s ease-in-out;
}

#gameNavigation>div:hover {
    font-size: 60px;
}

#rules {
    display: none;
    text-align: center;
    color: white;
    font-family: text;
}

#closeRules {
    width: 150px;
    font-family: head;
    font-size: 50px;
    background: var(--color-gold-gradient);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: auto;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

#closeRules:hover {
    font-size: 60px;
}

#idel {
    position: absolute;
    width: 550px;
    top: 80px;
    z-index: -1;
}

#missileIdel {
    position: absolute;
    width: 400px;
    rotate: 180deg;
    right: 10%;
    top: 250px;
    z-index: -1;
}

#missileIdel2 {
    position: absolute;
    width: 400px;
    rotate: 180deg;
    right: 5%;
    top: 120px;
    z-index: -1;
}

/*Game*/

#gameBackgound {
    width: 70%;
    border: white 5px solid;
    border-radius: 5px;
    position: absolute;
    top: 5%;
    left: 15%;
    z-index: -1;
}

#gameContent {
    z-index: 2;
}

#player {
    position: absolute;
    left: 18%;
    top: 35%;
}

#player>img {
    width: 120px;
}

.enemy {
    position: absolute;
    rotate: 180deg;
    scale: 0.6;
    right: 0%;
}


/*Quiz-Unterseite
---------------------
*/

.question {
    margin-left: auto;
    margin-right: auto;
    border-radius: 37px;
    border: 1px solid #C89999;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.89) 48.84%, rgba(119, 37, 37, 0.64) 104.14%);
    box-shadow: 10px 10px 4px 0px rgba(82, 33, 33, 0.41);
    display: grid;
    grid-template-rows: auto auto;
    width: 40%;
    height: 130px;
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
    padding: 20px;
    font-family: head;
    font-size: larger;
    text-align: center;
}

.answer {
    font-family: text;
    font-size: medium;
    cursor: pointer;
}

.answer:hover {
    background: var(--color-gold-gradient);
}

#questionImg {
    position: absolute;
    height: 140px;
}

#check {
    scale: 1.3;
    margin-top: -2%;
    margin-bottom: 2%;
    user-select: none;
    font-family: head;
    background: var(--color-gold-gradient);
    width: 230px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: all 0.5s ease-in-out;
    background-size: 200%;
    cursor: pointer;
}

#check:hover {
    background-position-x: -200px;
}


/*Collectables
---------------------
*/

#collectable>img {
    width: 300px;
    height: 300px;
}

#collectable {
    cursor: pointer;
    width: 300px;
    height: 300px;
    margin: 100px;
    user-select: none;
    transition: all 0.3s ease-in-out;
}

#collectable:hover {
    scale: 1.02;
}

#collectables {
    display: grid;
    grid-template-columns: auto auto auto;
}

#collect {
    display: flex;
    justify-content: center;
}

#collectName {
    user-select: none;
    font-family: head;
    font-size: 20px;
    background: var(--color-gold-gradient);
    width: 290px;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    color: #540202;
    transition: all 0.5s ease-in-out;
    background-size: 200%;
}

#collectName:hover {
    background-position-x: -290px;
}

#collectDescription {
   margin: 5px; 
   text-align: center;
   background-color: rgba(255, 255, 255, 0.36);
   border-radius: 5px;
}