/*Fonts
-------
*/

:root {
    --color-background: linear-gradient(294deg, #000 -5.56%, #100000 11.42%, #870303 138.13%, #4B0202 138.13%);
    --color-gold-gradient: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

@font-face {
    font-family: "head";
    src: url("./inhalt/Fonts/Headlines-BoldItalic.otf");
}

@font-face {
    font-family: "text";
    src: url("./inhalt/Fonts/OldNewspaperTypes.ttf");
}

/*Allgemein
-----------
*/

body {
    background: var(--color-background);
}

a {
    text-decoration: none;
}

h1 {
    font-family: head;
    font-size: 64px;
    background: var(--color-gold-gradient);
    width: 300px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #540202;
}



/*Navigation
------------
*/

#navigation>a {
    margin-left: auto;
    margin-right: auto;
}

.navItem {
    display: block;
    width: 900px;
}

.navBoxLeft {
    border-radius: 37px;
    border: 1px solid #C89999;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.89) 48.84%, rgba(119, 37, 37, 0.64) 104.14%);
    box-shadow: 14px 14px 4px 0px rgba(82, 33, 33, 0.41);
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    height: 258px;
    margin-bottom: 50px;
    
}

.ueberschrift {
    margin-top: 0px;
    transition: all 0.5s ease-in-out;
}

.navBoxLeft:hover .ueberschrift {
    transform: translateY(-50px);
}

.navBoxRight:hover .ueberschrift {
    transform: translateY(-50px);
}

.navBoxRight>h2 {
    position: relative;
    left: 70px;
}

.navBoxLeft>img {
    width: 375px;
    position: relative;
    right: -23%;
}

.navBoxRight {
    border-radius: 37px;
    border: 1px solid #C89999;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.89) 51.17%, rgba(119, 37, 37, 0.64) 100%);
    box-shadow: -14px 14px 4px 0px rgba(82, 33, 33, 0.41);
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    height: 258px;
    margin-bottom: 50px;
}

.navBoxRight>img {
    width: 375px;
    position: relative;
    right: -10%;
}


#helmet {
    width: 375px;
    height: 258px;
    position: relative;
    right: -13%;
}

#lego_marvel_sh_logo {
    position: relative;
    bottom: -60px;
    left: 0px;
}

#thinking_img {
    height: 258px;
    position: relative;
    right: 0%;
    border-radius: 37px;
}

#idel_gif {
    transform: rotateY(180deg);
    position: relative;
    right: -20%;
    width: 300px;
    height: 258px;
    scale: 2;
}

.ueberschrift {
    font-family: head;
    font-size: 64px;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: 300px;
    border-radius: 15px;
    text-align: center;
    margin: auto;
    margin-left: 30px;
}